
body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin: 0;
}

h2 {
    font-weight: 700;
    font-size: 30px;
    margin-left: 160px;
    margin-right: auto;
    max-width: 100%;
    text-align: left;
    z-index: 1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* Top navigation */
.topnav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 113px;
    padding: 0 80px;
}

.topnav img {
    max-height: 100%;
    margin-right: 100px;
}

.topnav a {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    font-weight: 500;
    margin: 0 40px;
}

.topnav a:hover {
    color: #ababab;
}

/* Banner section */

.btn-black {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    margin: 0 40px;
    width: 194px;
    height: 46px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.btn-black:hover {
    color: #ffffff;
    background-color: #373B41;
}

.btn-black:active {
    background: #59606D;
    color: white;
}

.banner-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    align-items: center;
    height: 80vh;
    overflow-wrap: inherit;
}

.banner-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin: 0;
}

/* Activities section */

.activities {
    text-align: center;
}

.activities h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin: 25px 5px;
    padding-top: 100px;
}

.activities p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 0;
}


.pic-box {
    width: 285px;
    height: 285px;
    border-radius: 5px;
    display: inline-block;
    margin: 8px;
    padding: 0 0 100px;

}

.pic-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.pic-button {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin: 0;
    border: none;
    background-color: #F5F7FB;
}

.pic-button:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0 25px 20px -20px;
}

/* Schedule */


.schedule h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-left: 18%;
    padding-top: 100px;
}


#schedule-table {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    width: 65%;
    margin: 50px auto 0;
    border-collapse: collapse;
}

#schedule-table tr {
    height: 70px;
}

#schedule-table tr:first-child th {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 70px;
    text-align: left;
    padding-left: 40px;
    width: auto;
}

#schedule-table th {
    background-color: #000000;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 70px;
    text-align: left;
    padding-left: 40px;
    width: auto;
}

#schedule-table td {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
    padding: 0 30px 0 25px;
    width: auto;
}

#schedule-table #date {
    font-weight: bold;
    text-align: center;
}

#schedule-table tr:nth-child(even) {
    background-color: #FFFFFF;
}

#schedule-table tr:nth-child(odd) {
    background-color: #F5F7FB;
}

/* For players */

.info-box {
    width: 1200px;
    height: 238px;
    margin: auto;
    border-radius: 5px;
    background-color: #F5F7FB;
}

.info-box h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    margin-right: 200px;
    padding-top: 90px;
    text-align: right;
}

.info-box button {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    background-color: #000000;
    border: none;
    margin: 0 800px;
    width: 168px;
    height: 46px;
    border-radius: 2px;
    cursor: pointer;
}

.info-box button:hover {
    background-color: #373B41;
}

/* News */

.news {
    text-align: center;
    background-color: #F5F7FB;
    margin-top: 100px;
}

.news h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 36.56px;
    color: #000000;
    margin-left: 18%;
    padding-top: 100px;
}

.news p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24.38px;
    color: #000000;
    margin: 0;
    padding-bottom: 10px;
}

.news-box {
    width: 387px;
    height: 173px;
    border-radius: 5px;
    display: inline-block;
    margin: 8px;
    padding: 0 0 250px;
    background-color: white;
}

.news-box img {
    width: 387px;
    height: 170.5px;
    object-fit: cover;
    border-radius: 5px;
}


@media (max-width: 768px) {
    .topnav {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .topnav a {
        margin: 10px 0;
    }

    .pic-box {
        max-width: 100%;
    }
}