body {
    background-color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin: 0;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
    margin: 0;
}

/* Top navigation */
.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 113px;
    padding: 0 80px;
}

.topnav img {
    max-height: 100%;
}

.topnav a {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin: 0 40px;
}

.btn-black {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    margin: 0 40px;
    width: 168px;
    height: 46px;
    border-radius: 2px;
    cursor: pointer;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    overflow-wrap: inherit;
}

.banner-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin: 0;
}